<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @pineapple_step.name %>
</p>

<p>
  <b>Body:</b>
  <%= @pineapple_step.body %>
</p>


<%= link_to 'Edit', edit_pineapple_step_path(@pineapple_step) %> |
<%= link_to 'Back', pineapple_steps_path %>
