<!DOCTYPE html>
<html>
<head>
  <title>PineappleCloud</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'jquery.min' %>
  <%= javascript_include_tag '/pineapple.js' %>
  <%= javascript_include_tag 'test' %>

 
</head>
<body>

<%= yield %>

</body>
</html>
